/* Styling for the search bar */
.search-bar {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.3s;
}

header {
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 30px;
}

header>a {
  text-decoration: none;
  color: darkmagenta;
}

header a {
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

header a:hover {
  text-decoration: underline;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  color: chocolate;
  justify-content: center;
  align-items: center;
}

/* popular  recipies */
.popular-recipies {
  width: 60%;
}

.items {
  display: flex;
  background-color: lightgray;
  color: darkmagenta;
  font-size: 25px;
  font-weight: 350;
  align-items: center;
  border-radius: 15px;
}

.items>p {
  width: 450px;
  font-weight: 500;
}

/* north indian recipies */
/* container1 */
.container1 {
  display: grid;
  width: 300px;
  font-size: 20px;
  grid-template-columns: repeat(4, 1fr);

}

.itemss>p {
  width: 250px;
  font-weight: 500;
}

p:hover {
  text-decoration: underline;
}

.itemss {
  width: 300px;
  color: darkmagenta;

}


/* south indian recipies */
/* curries recipies */
/* container2 */
.container2,
.container3 {
  display: grid;
  width: 300px;
  font-size: 20px;
  grid-template-columns: repeat(4, 1fr);

}

.item>p {
  width: 250px;
  font-weight: 500;
}

p:hover {
  text-decoration: underline;
}

.item {
  width: 300px;
  color: darkmagenta;

}

section {
  margin-left: 150px;
  margin-right: 150px;
}

/* all-india-recipies */
.all-india-recipies {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* justify-content: center; */
  align-items: center;
}

li>a {
  text-decoration: none;
  font-size: 20px;

}

.all-india-recipies>li>a:hover {
  text-decoration: underline;
  color: chocolate;
}

.footer {
  text-align: center;
}

.footer>p:nth-child(4) {
  color: gray;
}

.footer>p:nth-child(1):hover,
.footer>p:nth-child(2):hover,
.footer>p:nth-child(3):hover,
.footer>p:nth-child(4):hover {
  color: chocolate;
}

@media screen and (min-width:300px) and (max-width:500px) {

  .search-bar {
    width: 550px;
    font-size: 26px;
    border: 2px solid #ccc;
    border-radius: 15px;
  }

  .container1,.container2,.container3 {
    display: grid;
    font-size: 25px;
    grid-template-columns: repeat(2, 1fr);

  }
  /* popular recipies */
  .popular-recipies {
    width: 550px;
  }

  section {
    margin-left: 50px;
    margin-right: 50px;
  }

  .all-india-recipies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  li>a {
    text-decoration: none;
    font-size: 30px;

  }
  h2,h1{
    width: 400px;
  }

  /* footer tag */

  .footer {
    width: 500px;
    text-align: center;
  }

  .footer>p:nth-child(4) {
    color: gray;
  }

  .footer>p:nth-child(1):hover,
  .footer>p:nth-child(2):hover,
  .footer>p:nth-child(3):hover,
  .footer>p:nth-child(4):hover {
    color: chocolate;
  }
}